.header-container{
    background-color: rgb(5, 5,5);
   
    .navbar{
        margin: 0 40px;
        .navbar-brand{
            color: rgba(255,255,255,0.87);
            font-weight: 600;
           
            a{
                text-decoration: none;
                color: rgba(255,255,255,0.87);
            }
        }
        .navbar-nav{
            position: relative;
            gap: 15px;
            color: rgba(255,255,255,0.87);
            .nav-link{
                color: rgba(255,255,255,0.87);
            }
            .active{
                color: red !important;
            }
            .nav-item{
                .nav-link{
                    color: rgba(255,255,255,0.87);
                }
                .dropdown-menu{
                    
                }
            }
            .search-contaner{
                height: 40px;
                .search-icon{
                    position: absolute;
                    top: 18%;
                    left: 30%;
                    width: 25px;
                    height: 25px;
                }
                .nav-search{
                    height: 100%;
                    background-color: rgb(5, 5,5);
                    border: 1px solid #fff;   
                    border-radius: 10px;
                    padding: 0 20px;
                    margin: 0 100px 0 0;
                }
            }
           
            .btn-login{
                background-color: #fff;
                margin-right: 35px;
                color: #000;

                a{
                    text-decoration: none;
                    color: #000;
                }
            }
            .btn-signup{
                a{
                    text-decoration: none;
                    color: #fff;
                }
            }

            .user-container{
                display: flex;
                gap: 20px;
                margin-right: 40px;
                text-align: center;
                align-items: center;
                .user-icon{
                    font-size: 38px;
                }
            }
           
        }
        
    }
}