.admin-container{
    display: flex;

    .admin-sidebar{
        .pro-sidebar{
            height: 100vh;
           
            .pro-sidebar-layout{
                background-color: #fff;
                box-shadow:0.15rem 0.2rem rgba(0, 0, 0, .15);
                .pro-icon-wrapper .pro-icon{
                    color: #0d6efd;
                    font-size: 24px;
                    background: #fff;
                }
                .pro-item-content{
                    color: #000;
                    font-weight: 500;
                }
            }
        }
        .sidebar-header-link{
            text-decoration: none;
        }
    }
    
    .admin-content{
        width: 100%;

        .admin-header{
            .admin-header-nav{
                display: flex;
                justify-content: start;
                flex-wrap: nowrap;
                gap: 60px;
                .admin-infor{
                    color: #fff;
                }
            }
            
           .collapsed-icon{
                font-size: 25px;
                cursor: pointer;
           }
            height: 40px;
            
        }
        .admin-main{
           
        }
    }
}