

.sidebar-container{
    .div_content{
        top: 79%;
        width: 100%;
        height: 100px;
        z-index: 1;
        position: absolute;
        background-color: #fff;
        background: linear-gradient(180deg, rgba(18, 18, 18, 0) 55%, rgb(0 0 0 / 85%) 82%, rgb(0 0 0 / 98%) 95%, #050505 100%);
    }
}
.app-content{
    margin: 0 40px;
    padding: 0 12px;
   
    .movies-class{
        margin-top: 30px;
        padding: 0 15px;
        .movies-category{
            margin-bottom: 30px;
            a{
                text-decoration: none;
                font-size: 25px;
                font-weight: 600;
                color: rgb(255 255 255 / 87%);
            }
        }
        .movies-list{
            display: flex;
            width: 100%;
            a{
                width: 200px;
                text-align: center;
                text-decoration: none;
                margin: 0 10px;
                color: rgb(255 255 255 / 87%);
                font-weight: 450;
                transition:400ms;
                
                &:hover{
                    scale: 1.01;
                    img{
                        border: 2px solid rgb(255 255 255 / 87%);
                    }
                }
                .movies_img{
                    img{
                        object-fit: fill;
                        width:178px;
                        height: 268px;
                        border-radius: 5px;

                    }
                }
            }
        }
    }
    .c-2-5 {
        flex: 0 0 19%;
        max-width: 20%;
      }
}