iframe#webpack-dev-server-client-overlay{display:none!important}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
    
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }


  .app-container{
   
    background-color: rgb(5 5 5);
    .header-container{
        position: fixed;
        z-index: 999;
        width: 100%;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
    }
    .main-container{
      min-height: 90vh;
      padding-top: 50px;
      .sidebar-container{
        width: 100%;

        .slide-container{ 
          
          }
      }
      .app-content{

      }
    }
  }